{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type ='text/css' href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role = "alert">
{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="close">
<span aria-hidden = "true">&times;</span>
</button>
    </div>
    {% endfor %}

    <h3>Sign Up</h3>
    <form action="/signin" method="POST">
        {% csrf_token %}
        <label for="text">Username</label>
        <input type="text" id ="username" name="username" placeholder="Enter your username" required><br>
        <label for="test">Password</label>
        <input type="Password" id ="pass1" name="pass1" placeholder="Your Password" required><br>
        


        <button type="submit">Sign in</button>
    </form>
</body>
</html>